* {
    font-family: 'Roboto';
}

header {
    width: 100%;
    height: 70px;
    background-color: #EC362D;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 37px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #FAFAFA;
}

.titulo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo img {
    width: 100%;
    height: 230px;
    opacity: 0.6;
}

.titulo span {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    top: 40%;
    left: 0px;
    text-align: center;
}

.pergunta {
    width: 60%;
    background-color: #FFFFFF;
    margin-top: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tituloPergunta {
    width: 90%;
    height: 140px;
    color: white;
    font-weight: 700;
    font-size: 23px;
    background-color: #434CA0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto 20px auto;
}

.respostas {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resposta img {
    width: 330px;
    height: 175px;
}

.resposta span {
    width: 330px;
    font-weight: 700;
    font-size: 20px;
    margin: 5px 0px 20px 0px;
    word-break: break-all;
}

.resposta {
    display: flex;
    flex-direction: column;
}

.opaca {
    opacity: 20%;
}

.opaca.selecionada {
    opacity: 100%;
}

.certa .cor {
    color: #009C22;
}

.errada .cor {
    color:#FF4B4B;
}

.nivel {
    height: 400px;
    width: 60%;
    background-color: #434CA0;
    margin: 40px 0px 60px 0px;
}