header {
    height: 70px;
    width: 100%;
    background-color: #EC362D;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 37px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Tela1 {
    background-color: white;
}

.novoQuizz {
    height: 180px;
    width: 1010px;
    font-size: 20px;
    font-weight: 400;
    border: 2px dashed lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0px 80px 0px;
}

.quizzesUser {
    width: 230px;
    color: #B9B9B9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}

.user-quizz-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .user-quizz-title-p {
    width: 100%;
    margin-left: 1%;
    display: flex;
    align-items: center;
  }

  .user-quizz-title-p button {
    /* margin-left: 100%; */
    background: #ec362d;
    border-radius: 500px;
    border: none;
  }


.user-quizz-title-p p {
    width: 92%;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
.criarQuizz {
    height: 40px;
    width: 150px;
    border: 2px dashed #EC362D;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.criarQuizz button{
    margin-top: 5px;
    background-color: white;
    border: none;
    font-family: Roboto;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.primeiraTela span {
    width: 1010px;
    font-family: 'Roboto';
    margin-bottom: 10px;
}

.quizzes {
    height: 100%;
    width: 1010px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imagem {
    height: 180px;
    width: 327px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    margin-bottom: 10px;
    background-size: cover;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    word-wrap: break-word;
    line-height: 20px;
    cursor: pointer;
}

.imagem span {
    width: 90%;
    padding: 10px;
}

@media (max-width: 1100px){

    .primeiraTela {
        width: 380px;
        margin: 0px auto 0px auto;
    }

    .primeiraTela span {
        width: 327px;
    }

    .quizzes {
        width: 327px;
    }

    .novoQuizz {
        width: 327px;
        margin: 100px auto 80px auto;
    }

}