* {
    font-family: 'Roboto';
    box-sizing: border-box;
}

.tela2 main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #FAFAFA;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
}

.imagemQuizz {
    width: 100%;
    height: 220px;
    background-size: cover;
}

.imagemQuizz span {
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    color: white;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    padding: 10px;
}

.pergunta {
    width: 760px;
    background-color: #FFFFFF;
    margin-top: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pergunta:last-child {
    margin-bottom: 40px;
}

.tituloPergunta {
    width: 90%;
    height: 140px;
    color: white;
    font-weight: 700;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-all;
    margin: 30px auto 20px auto;
    padding: 10px;
}

.respostas {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    word-break: break-all;
}

.resposta img {
    width: 100%;
    height: 175px;
}

.resposta span {
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    margin: 5px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
}

.resposta {
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    cursor: pointer;
    word-break: break-all;
}

.opaca {
    opacity: 20%;
}

.opaca.selecionada {
    opacity: 100%;
}

.certa .cor {
    color: #009C22;
}

.errada .cor {
    color:#FF4B4B;
}

.nivel {
    width: 760px;
    background-color: #FFFFFF;
    margin: 40px 0px 60px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}

.tituloNivel {
    width: 90%;
    height: 100px;
    background-color: #EC362D;
    color: white;
    font-weight: 700;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px auto 20px auto;
    padding: 10px;
    word-break: break-all;
}

.resumoNivel {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    word-break: break-all;
}

.nivel img {
    width: 48%;
    min-height: 270px;
}

.resumoNivel div {
    width: 48%;
    min-height: 270px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    word-break: break-all;
}

.reiniciar {
    width: 260px;
    height: 50px;
    background-color: #EC362D;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.voltarTela1 {
    color: #818181;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 60px;
    cursor: pointer;
}

@media(max-width: 1100px){

    .imagemQuizz {
        height: 140px;
    }

    .imagemQuizz span {
        font-size: 20px;
    }

    .pergunta {
        width: 400px;
    }

    .nivel{
        width: 400px;
    }

    .resposta img{
        height: 110px;
    }

    .resposta span {
        font-size: 13px;
        word-break: break-all;
    }

    .tituloPergunta {
        min-height: 90px;
        font-size: 20px;
    }

    .nivel img {
        width: 360px;
        height: 255px;
        margin-bottom: 15px;
    }

    .nivel div {
        width: 360px;
        min-height: 0px;
    }
}