*{
    box-sizing: border-box;
}

body{
    width: 375px;
    font-family: 'Roboto';
    font-weight: bold;
    background: #E5E5E5;
    
}

header{
    position: absolute;
    width: 375px;
    height: 69px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Estilo Tela 3.1*/

h1{
    font-size: 37px;
    align-items: center;
    color: #FFFFFF;
}

h2{
    font-size: 20px;
    line-height: 23px;
    margin-top: 106px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    font-size: 0;
    position: absolute;
    left: 0px;
    top: 158px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.Criar-Quizz-Comeco-Tela3{
    width: 375px;
    height: 256px;
}

li{
    width: 100%;
    margin-top: 21px;
    margin-left: 25px;
    list-style:none;
}

input{
    width: 341px;
    height: 46px;
    left: 16px;
    top: 21px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-top: 9px; 
}

::placeholder{
    font-style: italic;
    font-size: 19px;
    color: #BABABA;
}

.buttom-Quizz{
    position: absolute;
    width: 324px;
    height: 54px;
    left: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EC362D;
    border-radius: 15px;
    font-size: 18px;
    color: #FFF5F4;
}

.Comeco{
    top: 443px;
}

.buttom-Quizz:hover{
    cursor: pointer;
    filter: brightness(90%);
}

.buttom-Quizz-Comeco:active{
    transform: translate(2px,2px);
}

.escondido{
    display: none;
}

/* Estilo Tela 3.2*/

.Criar-Perguntas-Tela3{
    width: 375px;
    height: 935px;
}

h3{
    font-size: 20px;
    line-height: 23px;
    display: flex;
    margin-left: 25px;
}

.Adicionar{
    position: absolute;
    width: 375px;
    height: 74px;
}

.Segunda-Pergunta{
    top: 1110px;
    
}

.Terceira-Pergunta{
    top: 1200px;
}

.Prosseguir-Niveis{
    top: 1300px;
}

.criarPergunta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

img{
    width: 26px;
    height: 23px;
    
}

/* Estilo Tela 3.3*/

.Criar-Niveis-Tela3{
    width: 375px;
    height: 440px;
}

.descricao-nivel{
    width: 341px;
    height: 177px;
    
}

.Segundo-Nivel{
    top: 620px;
}

.Terceiro-Nivel{
    top: 720px;
}

.criarNivel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}
.Finalizar-Quizz{
    top: 830px;
}

/* Estilo Tela 3.4*/

.Imagem-Escolhida-Quizz{
    position: absolute;
    width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url(image.png);
    border-radius: 5px;
}

.Acessar-Quizz{
    top: 365px;
}

.voltarHome{
    position: absolute;
    width: 220px;
    height: 44px;
    font-size: 18px;
    top: 440px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #818181;
}

/*@media (min-width : 380px){
    body, header, ul, .Tela31{
        width: 100%;
    }
   li{
       display:flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
}*/