
/* ESTILO GERAL */

*{
    box-sizing: border-box;
}

.hidden{
    display: none;
}

body{
    font-family: 'Roboto';
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 69px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header h1 {
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

/* Estilo Tela 3.1*/

.Page3{
    width: 100%;
    height: auto;
    position: relative;
}

.quizz-info{
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizz-info-title{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.quizz-info-title h2{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.quizz-info-input-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin-top: 80px;
}

.quizz-info-input-container input{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 80%;
    height: 46px;
    margin-left: 120px;
}

::placeholder{
    font-style: italic;
    font-size: 19px;
    color: #BABABA;
}

.quizz-info-button-box{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.quizz-info-button-box button{
    width: 80%;
    height: 46px;
    background: #EC362D;
    border-radius: 15px;
    border: none;
    font-family: Roboto;
    font-size: 18px;
    line-height: 25px;
    color: #FFF5F4;
}

button:hover{
    cursor: pointer;
    filter: brightness(90%);
}


/* Estilo Tela 3.2*/

.quizz-questions{
    top: 80px;
    width: 100%;
    height: calc(200vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
}

.quizz-questions-title{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizz-questions-title h2{
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
}

.quizz-questions-input-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.quizz-questions-input-container input {
    width: 100%;
    height: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}


/*estilos do que está no JS Tela3*/

.quizz-questions-text {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
}

.quizz-questions-text h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.quizz-question-box {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.quizz-question-box h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.quizz-question-box ion-icon {
    font-size: 25px;
}

.quizz-question-final-btn {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quizz-question-final-btn button {
    width: 100%;
    height: 50%;
    background: #EC362D;
    border-radius: 15px;
    border: none;
    font-family: Roboto;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
}

/* Estilo Tela 3.3*/

.quizz-levels {
    top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}

.quizz-levels-title {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: salmon */
}

.quizz-levels-title h2 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
}

.quizz-levels-input-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: lightgreen; */
}

.quizz-levels-input-container input {
    width: 100%;
    height: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/*estilos do que está no JS Tela3*/
.quizz-levels-text {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
}

.quizz-levels-text h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.quizz-levels-box {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.quizz-levels-box h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.quizz-levels-box ion-icon {
    font-size: 25px;
}

.quizz-levels-final-btn {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quizz-levels-final-btn button {
    width: 100%;
    height: 50%;
    background: #EC362D;
    border-radius: 15px;
    border: none;
    font-family: Roboto;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
}


/* Estilo Tela 3.4*/

.quizz-success {
    top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}

.quizz-success-title {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: salmon */
}

.quizz-success-title h2 {
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
}

.quizz-success-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizz-success-box {
    width: 100%;
    height: 40%;
    /* background-color: lightblue; */
    border-radius: 5px;
}

.quizz-success-btn {
    margin-top: 20px;
    width: 100%;
    height: 10%;
}

.quizz-success-container button {
    width: 100%;
    height: 100%;
    background: #EC362D;
    border-radius: 15px;
    border: none;
    color: #FFFFFF;

}

/* mobile */
@media (max-width: 700px) {
    .quizz-info-input-container, 
    .quizz-questions-input-container, 
    .quizz-levels-input-container, 
    .quizz-success-container {
        width: 90%;
    }
}

/* desktop */
@media (min-width: 700px) {
    .quizz-info-title, 
    .quizz-info-input-container, 
    .quizz-questions-titulo, 
    .quizz-questions-input-container, 
    /*.quizz-input-title,*/ 
    .quizz-levels-input-container, 
    .quizz-success-container {
        width: 60%;
    }
    /*.quizz-question-final-btn button, 
    .quizz-levels-final-btn button,*/ 
    .quizz-success-btn {
        width: 50%;
    }
    .quizz-info-button-box {
        width: 60%;
        margin-top: 5%;
    }
    .quizz-success-box {
        width: 80%;
        height: 50%;
    }
}